
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicare</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="hero">
        <nav>
         <img src="static/logo.png" class="logo">
         <ul>
            <li> <a href="#about-section" >About</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">Contact Us</a></li>

         </ul>
         
        </nav>
        <div class="content">
            <h1 class="anim">Try<br>Assistance Now</h1>
            <p class="anim"> Medicare is an app developed for healthcare assistance 
                and disease prediction.Take a quick check .</p>
            <a href="{{url_for('inter_page')}}" class="btn anim">Check now</a>

        </div> 
        <img src="static/pop_up.png" class="pop-img anim">
    </div>

<section id="about-section">
    <div class ="hero" >
        <div class="content-about">
    
                <h1 class="anim"> About us</h1>
                <p class ="anim">Our aim is to provide medical assistance for users 
                from the observed symptoms.The application uses knowledge graphs to map the
                symptoms to the disease </p>
        </div>
           
        <img src="static/aboutus.png" class="pop-img anim">
    </div>
</section>

</bodv>
</html>